<footer class="footer">
  <button (click)="scrollToTop()" class="go-top-scroll">
    <img src="../../../assets/images/top-arrow.svg" alt="" />
  </button>
  <div class="top-content">
    <div class="top-content-text">
      <h4>Abonnez-vous à notre lettre d'information</h4>
      <p>
        Vous pouvez vous abonner maintenant gratuitement par votre email, pour
        recevoir notre newsletter.
      </p>
    </div>
    <div class="contact-form">
      <input type="email" placeholder="email" />
      <button>Envoyer</button>
    </div>
  </div>
  <div class="footer-content">
    <div class="social-media">
      <p>Suivez-nous</p>
      <div class="social-icons">
        <div class="social-icons-group">
          <a
            href="https://www.facebook.com/Justcrok-Halal-Islam-357434742010110"
            target="_blank"
            ><img
              src="../../../assets/images/social-icons/facebook.svg"
              alt="facebook"
          /></a>
          <a href="https://twitter.com/JustcrokO" target="_blank"
            ><img
              src="../../../assets/images/social-icons/twitter.svg"
              alt="twitter"
          /></a>

          <a href="https://www.instagram.com/justcrok_org/" target="_blank"
            ><img
              src="../../../assets/images/social-icons/instagram.svg"
              alt="instagram"
          /></a>
        </div>

        <div class="social-icons-group">
          <a href="https://www.linkedin.com/company/justcrok/" target="_blank"
            ><img
              src="../../../assets/images/social-icons/linkedin.svg"
              alt="linkedin"
          /></a>
          <a
            href="https://www.youtube.com/channel/UC60ictTpSGt6jPBofh5M0zg"
            target="_blank"
            ><img
              src="../../../assets/images/social-icons/youtube.svg"
              alt="youtube"
          /></a>
          <a href="https://vimeo.com/justcrok" target="_blank"
            ><img
              src="../../../assets/images/social-icons/vimeo.svg"
              alt="vimeo"
          /></a>
        </div>
      </div>
    </div>
    <div class="footer-main-content">
      <h4>Justcrok.org</h4>
      <div class="footer-groups">
        <div class="services">
          <a href="">Pro</a>
          <a href="">Finance</a>
          <a href="">Tv</a>
        </div>
        <div class="links">
          <a routerLink="/touvermosquee">Mosquée</a>
          <a routerLink="/">Pières</a>
          <a routerLink="/quranecrit">Coran</a>
        </div>
        <div class="infos">
          <a routerLink="/aboutUs">À propos de nous</a>
          <a>Conditions générales d'utilisation</a>
          <a>Support</a>
          <a>Blog</a>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-copy">
    <p>© 2021 Justcrok. Tous droits réservés.</p>
  </div>
</footer>
